<!--suppress HtmlDeprecatedAttribute -->
<!--/*@thymesVar id="activityStatistics" type="java.util.List"*/-->
<div xmlns:th="http://www.thymeleaf.org" class="fix-height" th:fragment="table (tableId)">
    <table th:id="${tableId}" class="table table-bordered table-sm bg-white">
        <thead class="thead-light text-center">
        <tr>
            <!--suppress HtmlDeprecatedAttribute-->
            <th width="40%">Statistic</th>
            <th width="30%">Chats</th>
            <th width="30%">Users</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iter : ${activityStatistics}">
            <td class="custom-checkbox text-right" th:text="${item.key}">
            </td>
            <td th:text="${#numbers.formatInteger(item.value.chatCount, 1, 'WHITESPACE')}" class="text-right">
            </td>
            <td th:text="${#numbers.formatInteger(item.value.userCount, 1, 'WHITESPACE')}" class="text-right">
            </td>
        </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('.activity-level-label').tooltip({placement: 'right'});
        });
    </script>
</div>