<!--suppress HtmlDeprecatedAttribute -->
<!--/*@thymesVar id="activityStatistics" type="java.util.List"*/-->
<div xmlns:th="http://www.thymeleaf.org" class="fix-height" th:fragment="table (tableId, data, entity)">
    <table th:id="${tableId}" class="table table-bordered table-sm bg-white">
        <thead class="thead-light text-center">
        <tr>
            <!--suppress HtmlDeprecatedAttribute-->
            <th width="10%">#</th>
            <th width="60%" th:text="${entity}"></th>
            <th width="30%">Messages</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iter : ${data}">
            <td class="text-right" th:text="${iter.index + 1}">
            </td>
            <td th:text="${#strings.abbreviate(item.subject.label, 28)}">
            </td>
            <td th:text="${#numbers.formatInteger(item.count, 1, 'WHITESPACE')}" class="text-right"></td>
        </tr>
        </tbody>
    </table>
</div>