<!--suppress HtmlDeprecatedAttribute -->
<!--/*@thymesVar id="activityStatistics" type="java.util.List"*/-->
<div xmlns:th="http://www.thymeleaf.org" class="fix-height" th:fragment="table (tableId, activityStatistics)">
    <table th:id="${tableId}" class="table table-bordered table-sm bg-white" th:if="${!activityStatistics.isEmpty()}">
        <thead class="thead-light text-center">
        <tr>
            <!--suppress HtmlDeprecatedAttribute-->
            <th width="10%">#</th>
            <th width="60%">Level</th>
            <th width="30%">Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iter : ${activityStatistics}">
            <td class="custom-checkbox text-right" th:text="${iter.index + 1}">
            </td>
            <td>
                <span th:text="${item.subject.name}"
                      th:title="${'At least ' + item.subject.lowerThreshold + ' messages per day'}"
                      class="activity-level-label">
                </span>
            </td>
            <td th:text="${#numbers.formatInteger(item.count, 1, 'WHITESPACE')}" class="text-right">
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert-info p-3 mb-3" th:if="${activityStatistics.isEmpty()}">
        No data found for the selected period
    </div>
    <script>
        $(document).ready(function () {
            $('.activity-level-label').tooltip({placement: 'right'});
        });
    </script>
</div>