<div xmlns:th="http://www.thymeleaf.org" class="fix-height">
    <table class="table table-bordered table-sm bg-white" th:if="${!activityStatistic.isEmpty()}">
        <thead class="thead-light text-center">
        <tr>
            <th width="8%">#</th>
            <th th:if="${chat.isUserChat()}" width="37%">Chat</th>
            <th th:if="${!chat.isUserChat()}" width="37%">User</th>
            <th width="25%">Activity</th>
            <th width="15%">Messages</th>
            <th width="15%">Characters</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iter : ${activityStatistic}">
            <td th:text="${iter.index} + 1" class="text-right"></td>
            <td>
                <span th:if="${!chat.isUserChat()}" th:text="${item.subject.firstName}"></span>
                <span th:if="${!chat.isUserChat()}" th:text="${item.subject.lastName}"></span>
                <span th:if="${chat.isUserChat()}" th:text="${item.subject.title}"></span>
                <span th:if="${chat.isUserChat() && item.subject.title == null}">Private chat</span>
            </td>
            <td th:with="activity=${100.0 * item.score / totalScore}, activityStr=${#numbers.formatDecimal(activity, 0, 0)}">
                <div class="progress" style="height: 1.5rem"
                     th:title="${#numbers.formatDecimal(item.score, 0, 0)} + ' points'">
                    <div class="progress-bar" role="progressbar"
                         th:style="'width: ' + ${activityStr} + '%;'">
                        <div th:if="${activity >= 40}"
                             th:text="${activityStr} + '%'"></div>
                    </div>
                    <div th:if="${activity} < 40" class="ml-2 d-flex flex-column justify-content-center"
                         th:text="${activityStr} + '%'"></div>
                </div>
            </td>
            <td th:text="${item.count}" class="text-right"></td>
            <td th:text="${item.length}" class="text-right"></td>
        </tr>
        </tbody>
    </table>
    <div class="alert-info p-3 mb-3" th:if="${activityStatistic.isEmpty()}">
        No messages found for the selected period
    </div>
</div>