<div class="bg-white border p-2">
    <div id="activity-chart"></div>
</div>
<script>
    $(document).ready(function () {
        var path = window.location.pathname + "activity-chart/";
        var param = $.param({from: $('#fromDate').val(), to: $('#toDate').val()});
        $.get(path + "?" + param)
            .done(function (response) {
                Morris.Line({
                    element: 'activity-chart',
                    data: response['data'],
                    xkey: response['xKey'],
                    ykeys: response['yKeys'],
                    labels: response['labels'],
                    xLabelFormat: function (timestamp) {
                        return formatDate(new Date(timestamp));
                    },
                    dateFormat: function (timestamp) {
                        return formatDate(new Date(timestamp));
                    }
                });
            });
    });
</script>