<style>
    .setting {
        font-size: 85%;
    }
    .setting>select {
        width: 120px;
        font-size: 100%!important;
        padding-top: 4px!important;
    }
</style>
<div class="activity-chart-container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div>
                <label class="setting">
                    <span>Mode</span>
                    <select name="activity-chart-mode" onchange="changeMode()"
                            class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="DEFAULT">Default</option>
                        <option value="SUM">Sum</option>
                        <option value="RATIO">Ratio</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="text-lg-center">
                <label class="setting">
                    <span>Attribute</span>
                    <select name="activity-chart-attribute" onchange="changeIntervalOrAttribute()"
                            class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="SCORE">Score</option>
                        <option value="MESSAGES">Messages</option>
                        <option value="CHARACTERS">Characters</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="text-lg-right">
                <label class="setting">
                    <span>Interval</span>
                    <select name="activity-chart-interval" onchange="changeIntervalOrAttribute()"
                            class="custom-select custom-select-sm form-control form-control-sm"></select>
                </label>
            </div>
        </div>
    </div>
    <div class="bg-white border p-2 mb-3">
        <div id="activity-chart"></div>
    </div>
</div>
<script>
    var from, to;
    var chartControl, chartData;
    var intervalOptions;

    $(document).ready(function () {
        from = $('#fromDate').val();
        to = $('#toDate').val();
        intervalOptions = getAvailableIntervalOptions();
        renderIntervalOptions();
        var interval = intervalOptions[0];
        var path = window.location.pathname + "/activity-chart";
        var param = $.param({
            from: from,
            to: to,
            interval: interval[0],
            interval_unit: interval[1],
            type: $('#chat-type-holder > span').text(),
        });
        $.get(path + "?" + param)
            .done(function (response) {
                if (response['data'].length > 0 && response['data'][0].length > 1) {
                    buildChart(response);
                } else {
                    $('#activity-chart-container').parent().replaceWith(
                        '<div class="alert-info p-3 mb-3">' +
                        'No data found for the selected period' +
                        '</div>');
                }
            });
    });

    function buildChart(response) {
        chartData = response['data'];
        var sample = chartData[0][0];
        var dateFormat = resolveDateFormat(sample);
        chartControl = Morris.Area({
            element: 'activity-chart',
            data: chartData,
            xkey: response['xKey'],
            ykeys: response['yKeys'],
            labels: response['labels'],
            xLabelFormat: dateFormat,
            dateFormat: dateFormat,
            yLabelFormat: formatInteger,
            hideHover: true,
            behaveLikeLine: true,
            fillOpacity: 0.0,
            resize: true,
            smooth: false
        });
    }

    function changeMode() {
        var mode = $('select[name=activity-chart-mode]').val();
        switch (mode) {
            case 'SUM': sumMode(); break;
            case 'RATIO': ratioMode(); break;
            default: defaultMode();
        }
    }

    function defaultMode() {
        chartControl.cumulative = false;
        chartControl.options.behaveLikeLine = true;
        chartControl.options.fillOpacity = 0.0;
        chartControl.options.postUnits = '';
        chartControl.options.ymax = 'auto';
        chartControl.setData(chartData);
    }

    function sumMode() {
        chartControl.cumulative = true;
        chartControl.options.behaveLikeLine = false;
        chartControl.options.fillOpacity = 1.0;
        chartControl.options.postUnits = '';
        chartControl.options.ymax = 'auto';
        chartControl.setData(chartData);
    }

    function ratioMode() {
        chartControl.cumulative = true;
        chartControl.options.behaveLikeLine = false;
        chartControl.options.fillOpacity = 1.0;
        chartControl.options.postUnits = '%';
        chartControl.options.ymax = 100.0;
        var data = chartData.map(function (item) {
            var result = [item[0]];
            var sum = item.slice(1).reduce(function (a, b) { return a + b });
            for (var i = 1; i < item.length; i++) {
                var ratio = sum === 0
                    ? 1.0 / (item.length - 1.0) * 100.0
                    : item[i] / sum * 100.0;
                result.push(ratio.toFixed(1));
            }
            return result;
        });
        chartControl.setData(data);
    }

    function changeIntervalOrAttribute() {
        var intervalIndex = $('select[name=activity-chart-interval]').val();
        var attribute = $('select[name=activity-chart-attribute]').val();
        refreshChartData(intervalOptions[intervalIndex], attribute);
    }
    
    function refreshChartData(interval, attribute) {
        var path = window.location.pathname + "activity-chart";
        var param = $.param({
            from: from,
            to: to,
            attribute: attribute,
            interval: interval[0],
            interval_unit: interval[1],
            type: $('#chat-type-holder > span').text(),
        });
        $.get(path + "?" + param)
            .done(function (response) {
                chartData = response['data'];
                var sample = chartData[0][0];
                var format = resolveDateFormat(sample);
                chartControl.xLabelFormat = format;
                chartControl.dateFormat = format;
                changeMode();
            });
    }

    function getAvailableIntervalOptions() {
        var hoursInUnit = {
            'HOUR': 1,
            'DAY': 24,
            'MONTH': 24 * 30,
            'YEAR': 24 * 365
        };
        var intervalOptions = [
            [1, 'HOUR'],
            [2, 'HOUR'],
            [3, 'HOUR'],
            [1, 'DAY'],
            [2, 'DAY'],
            [3, 'DAY'],
            [7, 'DAY'],
            [1, 'MONTH'],
            [3, 'MONTH'],
            [1, 'YEAR']
        ];
        var periodDuration = 24 + (getTime(to) - getTime(from)) / (1000 * 60 * 60);
        return intervalOptions.filter(function (item) {
            var intervalDuration = item[0] * hoursInUnit[item[1]];
            return periodDuration >= 3 * intervalDuration &&
                periodDuration <= 50 * intervalDuration;
        });
    }

    function getTime(date) {
        var a = date.split('.');
        return new Date(a[2], a[1] - 1, a[0]).getTime();
    }

    function renderIntervalOptions() {
        var selectElement = $('select[name=activity-chart-interval]');
        intervalOptions.forEach(function(item, i) {
            var text = item[0] + ' ' + item[1].toLowerCase() + (item[0] > 1 ? 's' : '');
            selectElement.append('<option value="' + i + '">' + text + '</option>');
        })
    }
</script>