<style>
    #chart-line-badge:hover, #chart-area-badge:hover {
        cursor: pointer;
    }
</style>
<div class="bg-white border p-2 mb-3">
    <div id="chart-line-badge"
         class="badge badge-secondary m-2"
         style="display: none"
         onclick="behaveLikeArea()">Line
    </div>
    <div id="chart-area-badge"
         class="badge badge-primary m-2"
         style="display: none"
         onclick="behaveLikeLine()">Area
    </div>
    <div id="activity-chart"></div>
</div>
<script>
    var chartControl, chartData;

    function behaveLikeLine() {
        chartControl.cumulative = false;
        chartControl.options.behaveLikeLine = true;
        chartControl.options.fillOpacity = 0.0;
        chartControl.setData(chartData, true);
        $('#chart-line-badge').show();
        $('#chart-area-badge').hide();
    }

    function behaveLikeArea() {
        chartControl.cumulative = true;
        chartControl.options.behaveLikeLine = false;
        chartControl.options.fillOpacity = 1.0;
        chartControl.options.fillOpacity = 0.5;
        chartControl.setData(chartData, true);
        $('#chart-line-badge').hide();
        $('#chart-area-badge').show();
    }

    function buildChart(response) {
        chartData = response['data'];
        var sample = chartData[0][0];
        var format = resolveFormat(sample);
        chartControl = Morris.Area({
            element: 'activity-chart',
            data: chartData,
            xkey: response['xKey'],
            ykeys: response['yKeys'],
            labels: response['labels'],
            xLabelFormat: format,
            dateFormat: format,
            hideHover: true,
            behaveLikeLine: true,
            fillOpacity: 0.0
        });
    }

    $(document).ready(function () {
        var path = window.location.pathname + "activity-chart";
        var interval = resolveInterval();
        var param = $.param({
            from: $('#fromDate').val(),
            to: $('#toDate').val(),
            interval: interval[0],
            interval_unit: interval[1]
        });
        $.get(path + "?" + param)
            .done(function (response) {
                if (response['data'].length) {
                    buildChart(response);
                    $('#chart-line-badge').show();
                } else {
                    $('#activity-chart').parent().replaceWith(
                        '<div class="alert-info p-3 mb-3">' +
                        'No data found for the selected period' +
                        '</div>');
                }
            });
    });

    function resolveInterval() {
        var from = getDate($('#fromDate').val());
        var to = getDate($('#toDate').val());
        var durationMills = to.getTime() - from.getTime();
        var durationDays = durationMills / (1000 * 60 * 60 * 24);
        if (durationDays === 0) {
            return [1, 'HOUR']
        } else if (durationDays <= 3) {
            return [3, 'HOUR']
        } else if (durationDays <= 31) {
            return [1, 'DAY']
        } else if (durationDays <= 31 + 31 + 30) {
            return [7, 'DAY']
        } else if (durationDays <= 366 + 366) {
            return [1, 'MONTH']
        } else {
            return [1, 'YEAR']
        }
    }

    function getDate(str) {
        var a = str.split('.');
        return new Date(new Date(a[2], a[1] - 1, a[0]));
    }
</script>