<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg-white border-bottom" th:fragment="header(chat, page)">
    <!--/*@thymesVar id="chat" type="org.telegram.telegrambots.api.objects.Chat"*/-->
    <div class="container clearfix">
        <img th:src="${'/file/' + chat.photo.smallFileId}"
             class="rounded float-left mr-3 my-3" style="height: 120px;">
        <h1 class="display-4">
            <span th:text="${chat.title}"></span>
            <span th:text="${chat.firstName}"></span>
            <span th:text="${chat.lastName}"></span>
        </h1>
        <p class="text-secondary font-weight-bold">
            <span th:if="${chat.isChannelChat()}">channel</span>
            <span th:if="${chat.isGroupChat()}">group</span>
            <span th:if="${chat.isSuperGroupChat()}">super group</span>
            <span th:if="${chat.isUserChat()}">user</span>
        </p>
        <style>
            .nav {
                margin-bottom: -2px;
            }
            .nav-link {
                border-bottom: 0!important;
            }
        </style>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${page} == 'activity' ? 'active bg-light' : ''"
                   th:href="@{../activity/}">Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${page} == 'vocabulary' ? 'active bg-light' : ''"
                   th:href="@{../vocabulary/}">Vocabulary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${page} == 'history' ? 'active bg-light' : ''"
                   th:href="@{../history/}">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Settings</a>
            </li>
        </ul>
    </div>
</div>
<div class="bg-white border-top p-3" th:fragment="footer (bot)">
    <!--/*@thymesVar id="bot" type="org.telegram.telegrambots.api.objects.User"*/-->
    <div class="container">
        <a class="float-right"
           th:href="${'https://t.me/' + bot.userName}"
           th:text="${'@' + bot.userName}"></a>
    </div>
</div>
</body>
</html>