<style>
    .chart-setting {
        font-size: 85%;
    }

    .chart-setting > select {
        width: 120px;
        font-size: 100% !important;
        padding-top: 4px !important;
    }
</style>
<div id="periods-bar-chart-container">
    <div class="row">
        <div class="col-4">
            <label class="chart-setting d-flex">
                <span class="d-none d-md-inline p-1 flex-fill">Mode</span>
                <select name="activity-chart-mode"
                        class="custom-select custom-select-sm form-control form-control-sm flex-fill">
                    <option value="DEFAULT">Default</option>
                    <option value="SUM">Sum</option>
                    <option value="RATIO">Ratio</option>
                </select>
            </label>
        </div>
        <div class="col-4">
            <label class="chart-setting d-flex">
                <span class="d-none d-md-inline p-1 flex-fill">Attribute</span>
                <select name="activity-chart-attribute"
                        class="custom-select custom-select-sm form-control form-control-sm flex-fill">
                    <option value="SCORE">Score</option>
                    <option value="MESSAGES">Messages</option>
                    <option value="CHARACTERS">Characters</option>
                </select>
            </label>
        </div>
        <div class="col-4">
            <label class="chart-setting d-flex">
                <span class="d-none d-md-inline p-1 flex-fill">Interval</span>
                <select name="activity-chart-interval"
                        class="custom-select custom-select-sm form-control form-control-sm flex-fill"></select>
            </label>
        </div>
    </div>
    <div class="bg-white border p-2 mb-3">
        <div id="periods-bar-chart"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        chatActivityBarChart = new ChatActivityBarChart('periods-bar-chart-container', 'periods-bar-chart');
    });
</script>