<style>
    tbody .tbody-text-right {
        text-align: right !important;
    }
    .dataTables_info, .dataTables_paginate, .dataTables_length, .dataTables_filter {
        font-size: 85%;
    }
    .dataTables_length select {
        font-size: 100%!important;
        padding-top: 3px!important;
    }
</style>
<table class="table table-sm w-100 border" id="words-usage">
    <thead class="thead-light">
    <tr>
        <th class="w-50">Word</th>
        <th class="w-25">Count</th>
        <th class="w-25">Delta</th>
    </tr>
    </thead>
    <tbody class="bg-white"></tbody>
</table>
<script>
    $('#words-usage').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            url: window.location.pathname + "words-usage",
            data: function (request) {
                request.from = $('#fromDate').val();
                request.to = $('#toDate').val();
            }
        },
        columns: [
            {
                data: 'word',
                className: "px-3"
            },
            {
                data: 'count',
                className: "px-3 tbody-text-right"
            },
            {
                data: 'delta',
                render: function ( data, type, full, meta ) {
                    return (data > 0 ? '+' : '') + (100.0 * data).toFixed(2) + '%';
                },
                className: "px-3 tbody-text-right"
            }
        ],
        order: [
            [ 1, "desc" ]
        ],
        createdRow: function(row, data, index, cells) {
            var value = 100.0 * data.delta;
            if (value >= 2) {
                $(cells[2]).addClass("table-success");
            } else if (value >= 1) {
                $(cells[2]).addClass("table-info");
            } else if (value <= -2) {
                $(cells[2]).addClass("table-danger");
            } else if (value <= -1) {
                $(cells[2]).addClass("table-warning");
            }
        }
    });
</script>