<div id="message-types-donut-container">
    <div class="bg-white border px-3 mb-3">
        <div id="message-types-donut"></div>
    </div>
</div>
<script>
    var donutLabels = {
        'FORWARD': 'Forward',
        'TEXT': 'Text',
        'PHOTO': 'Photo',
        'AUDIO': 'Audio',
        'DOCUMENT': 'Document',
        'VIDEO': 'Video',
        'VOICE': 'Voice',
        'VIDEO_NOTE': 'Video note',
        'STICKER': 'Sticker'
    };
    var colors = [
        '#007bff',
        '#28a745',
        '#ffc107',
        '#dc3545',
        '#17a2b8',
        '#6c757d',
        '#1e7e34',
        '#0062cc',
        '#bd2130'
    ];

    function mapDonutData(item) {
        return {
            label: donutLabels[item.key],
            value: item.count
        }
    }

    $(document).ready(function () {
        var param = $.param({
            from: $('#fromDate').val(),
            to: $('#toDate').val(),
            type: $('#chat-type-holder > span').text()
        });
        var path = window.location.pathname + "message-types";
        $.get(path + "?" + param)
            .done(function (response) {
                if (response.length > 0) {
                    Morris.Donut({
                        element: 'message-types-donut',
                        data: response.map(mapDonutData),
                        colors: colors,
                        resize: true
                    })
                } else {
                    $('#message-types-donut-container').parent().replaceWith(
                        '<div class="alert-info p-3 mb-3">' +
                        'No data found for the selected period' +
                        '</div>');
                }
            });
    });
</script>