<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="chat :: head (title = ${chat.title})">
</head>
<body>
<div th:replace="chat :: header (chat = ${chat}, page = 'activity')"></div>
<div class="bg-light p-3 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h4>Top Active Users</h4>
                <div class="fix-height">
                    <table class="table table-bordered table-sm bg-white">
                        <thead class="thead-light text-center">
                        <tr>
                            <th width="8%">#</th>
                            <th width="37%">User</th>
                            <th width="25%">Activity</th>
                            <th width="15%">Messages</th>
                            <th width="15%">Characters</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, iter : ${topActiveUsers}">
                            <td th:text="${iter.index} + 1" class="text-right"></td>
                            <td>
                                <span th:text="${user.user.firstName}"></span>
                                <span th:text="${user.user.lastName}"></span>
                            </td>
                            <td th:with="activity=${100.0 * user.score / totalScore}, activityStr=${#numbers.formatDecimal(activity, 0, 0)}">
                                <div class="progress" style="height: 1.5rem" th:title="${#numbers.formatDecimal(user.score, 0, 0)} + ' points'">
                                    <div class="progress-bar" role="progressbar"
                                         th:style="'width: ' + ${activityStr} + '%;'">
                                        <div th:if="${activity >= 40}"
                                             th:text="${activityStr} + '%'"></div>
                                    </div>
                                    <div th:if="${activity} < 40" class="ml-2 d-flex flex-column justify-content-center"
                                         th:text="${activityStr} + '%'"></div>
                                </div>
                            </td>
                            <td th:text="${user.count}" class="text-right"></td>
                            <td th:text="${user.length}" class="text-right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h4>Top Used Stickers</h4>
                <div th:if=" ${!topStickers.isEmpty()}"
                     class="d-flex flex-row bg-white border">
                    <div th:each="sticker, iter : ${topStickers}" class="m-2">
                        <span class="position-absolute badge badge-secondary" th:text="${sticker.count}"></span>
                        <img th:src="${'/file/' + sticker.key}" class="w-100"/>
                    </div>
                </div>
                <div class="alert-info p-3" th:if=" ${topStickers.isEmpty()}">
                    Stickers have not used yet
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Top Used Words</h4>
                <div class="alert-warning p-3" th:if=" ${wordsUsageStatistic.isEmpty()}">
                    Word usage statistic is disabled for this chat
                </div>
                <div style="max-height: 800px" th:if=" ${!wordsUsageStatistic.isEmpty()}">
                    <table class="table table-bordered table-sm bg-white">
                        <thead class="thead-light text-center">
                        <tr>
                            <th width="8%">#</th>
                            <th width="46%">Word</th>
                            <th width="46%">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="usage, iter : ${wordsUsageStatistic}">
                            <td th:text="${iter.index} + 1" class="text-right"></td>
                            <td th:text="${usage.key}"></td>
                            <td th:text="${usage.count}" class="text-right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="chat :: footer (bot = ${bot})"></div>
</body>
</html>